#footer {
  text-align: center;
  font-size: 14px;
  font-family: "PT Serif";
  color: rgba(255, 255, 255, 0.71);
  padding: 0 40px;
  min-width: 850-40*2px;
  margin-bottom: 20px;
  margin-top: 80px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  .left {
    position: absolute;
    left: 50px;
    text-align: left;
  }
  .right {
    position: absolute;
    right: 44px;
    text-align: right;
    top: 0;
    a{
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .center {
    display: inline-block;
    font-family: 'social-icon';
    font-size: 20px;
    a {
      display: inline-block;
      vertical-align: top;
      width: 20px;
      height: 20px;
      overflow: hidden;
      margin: 0 10px;
      color: #d4a048;
      text-decoration: none;
      @include fullhover();
      &:hover {
        color: #5a9481;
      }
    }
  }
}

body.menu, body.reviews, body.contacts {
  #footer {
    color: rgba(53, 53, 41, .5);
  }
}