.gm-rev
{
    display:none;
}
.gm-website
{
    display:none;
}
.gm-wsv
{
    display:none;
}

.header {
  width: 100%;
  margin-top: 15px;
  position: relative;
  .logo {
    margin-left: 50px;
    float: left;
    height: 81px;
    margin-top: 15px;
    img {
      width: 81px;
      height: 81px;
    }
  }
  .menu-wrapper {
    float: right;
    margin-right: 22px;
    margin-top: 22px;
    font-size: 24px;
    line-height: 100%;
    font-family: "bravorgregular";
    text-transform: uppercase;
    letter-spacing: .025em;
    position: relative;
    z-index: 100;
    @include user-select(none);
    &.open {
      .menu-btn {
        .label {
          color: #d19e45 !important;
        }
      }
      .menu-holder {
        max-height: 600px;
        li a.active:before {
          background: #c39c4d;
        }
      }
    }
    .menu-btn {
      margin-right: 22px;
      margin-top: 22px;
      margin-left: 6px;
      padding-left: 20px;
      cursor: pointer;
      position: relative;
      z-index: 100;
      .label {
        display: inline-block;
        vertical-align: top;
        color: #d19e45;
        @include transition(all 500ms $easeInOutSine);
      }
      .icon {
        display: inline-block;
        vertical-align: top;
        width: 29px;
        margin-left: 10px;
        .bar {
          height: 4px;
          background: #d19e45;
          margin-bottom: 5px;
        }
      }
    }
    .menu-holder {
      background: white;
      position: absolute;
      top: 0;
      max-height: 0px;
      overflow: hidden;
      @include transition(all 500ms $easeInOutQuart);
      &>a{
        &:first-of-type {
          margin-top: 60px;
        }
        &:last-of-type {
          margin-bottom: 17px;
        }
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          &.active {
            a {
              &:before {
                position: absolute;
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                background: transparent;
                @include transition(all 700ms $easeInOutQuart);
                border-radius: 5px;
                top: 50%;
                margin-top: -2px;
                left: 12px;
              }
            }
          }
        }
      }
      &>ul>li{
        &:first-of-type {
          &>a {
            margin-top: 60px;
          }
        }
        &:last-of-type {
          &>a {
            margin-bottom: 17px;
          }
        }
        ul {
          margin-top: 10px;
          margin-bottom: 5px;
          a {
            text-transform: none;
            font-size: 14px;
            font-family: 'PT Serif';
            letter-spacing: -0.01em;
            line-height: 22px;
            padding-top: 4px;
          }
        }
      }
      a {
        display: block;
        color: black;
        padding-left: 26px;
        text-decoration: none;
        padding-top: 7px;
        padding-bottom: 6px;
        position: relative;
        width: 150px;
        &:hover {
          color: white;
          background: #d19d45;
          &:before {
            background: white !important;
          }
        }
        &.active {
          &:before {
            position: absolute;
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            background: transparent;
            @include transition(all 700ms $easeInOutQuart);
            border-radius: 5px;
            top: 50%;
            margin-top: -2px;
            left: 12px;
          }
        }
      }
      .small {
        margin-top: 10px;
        margin-bottom: 5px;
        a {
          text-transform: none;
          font-size: 14px;
          font-family: 'PT Serif';
          letter-spacing: -0.01em;
          line-height: 22px;
          padding-top: 4px;
        }
      }
    }
  }
  .title-wrapper {
    width: 100%;
    height: 96px;
    text-align: center;
    padding-left: 156px;
    padding-right: 190px;
    box-sizing: border-box;
    .title-holder {
      margin: 0 auto;
      overflow: hidden;
      .title {
        display: inline-block;
        position: relative;
        font-family: "bravorgregular";
        text-transform: uppercase;
        //font-weight: bold;
        font-size: 26px;
        color: white;
        letter-spacing: 0.08em;
        padding: 0 14px;
        margin-left: 40px;
        &>* {
          display: inline-block;
        }
        .left, .right {
          position: relative;
          top: -25px;
        }
        .icon {
          margin: 0 9px;
        }
        &:before, &:after {
          content: '';
          display: block;
          background: white;
          width: 9999px;
          height: 1px;
          position: absolute;
          top: 56px;
        }
        &:before {
          left: 100%;
        }
        &:after {
          right: 100%;
        }
      }
    }
  }
}

.tilt-header {
  color: white;
  text-align: center;
  position: relative;
  height: 368px;
  overflow: hidden;
  min-width: 900px;
  .wings {
    position: absolute;
    width: 100%;
    height: 100%;
    >* {
      width: 380px;
      height: 290px;
      overflow: hidden;
      padding-top: 78px;
      @media all and (max-width:1180px) {
        width: 320px;
      }
    }
    .left {
      float: left;
      text-align: right;
      .angle-15 {
        float: right;
        @include transform-origin(top right);
      }
      .line-1 {
        margin-right: 210px;
        margin-top: 46px;
        a.link {
          width: 110px;
        }
      }
      .line-2 {
        margin-top: -48px;
        @media all and (max-width:1070px) {
          margin-top: -16px;
        }
      }
      .line-3 {
        margin-right: 65px;
        margin-top: 20px;
        .hr-holder {
          hr {
            &.first {
              background: white;
            }
            &.second {
              background: #d5a758;
            }
          }
        }
      }
      .line-4 {
        margin-right: 140px;
        margin-top: 56px;
      }
    }
    .right {
      float: right;
      text-align: left;
      .angle-15 {
        float: left;
        @include transform-origin(top left);
      }
      .line-1 {
        margin-left: 43px;
      }
      .line-2 {
        margin-top: 36px;
        @media all and (max-width:1070px) {
          margin-top: 0px;
          margin-bottom: 28px;
        }
      }
      .line-3 {
        margin-left: 180px;
        margin-top: -14px;
        .hr-holder {
          hr {
            &.first {
              background: white;
            }
            &.second {
              background: #d5a758;
            }
          }
        }
      }
    }
    .hr-holder {
      display: inline-block;
      vertical-align: top;
      width: 1000px;
      hr {
        margin: 0;
        border: none;
        height: 2px;
        border-radius: 30px;
        &.first {
          background: #d5a758;
          margin-top: 12px;
          margin-right: 14px;
          margin-left: 14px;
          &:after, &:before {
            width: 8px;
            height: 8px;
            background: #d5a758;
            display: block;
            content: "";
            float: right;
            margin-top: -3px;
            margin-right: -4px;
            border-radius: 8px;
          }
          &:before {
            float: left;
          }
        }
        &.second {
          background: white;
          margin-top: 8px;
          margin-right: 30px;
          margin-left: 30px;
        }
      }
    }
    a.link {
      font-size: 26px;
      line-height: 26px;
      color: white;
      text-decoration: none;
      font-family: "bravoscregular";
      display: inline-block;
      vertical-align: top;
      text-align: left;
      text-transform: uppercase;
      @include fullhover();
      &:hover {
        color: #d19e45;
      }
    }
    .angle-15 {
      @include transform(rotate(-15deg));
      width: 500%;
    }
    .nolink {
      @media all and (max-width:1070px) {
        margin-left: 120px;
        margin-right: 120px;
      }
      .hr-holder {
        hr {
          height: 3px;
          &:after, &:before {
            display: none;
          }
          &.second {
            margin-right: 14px;
            margin-left: 14px;
          }
        }
      }
    }
  }
  .middle-wrapper {
    display: inline-block;
    font-family: "nautilus_pompiliusregular";
    margin-top: 78px;
    .middle-holder {
      width: 670px;  
      @include transform(rotate(-15deg));
      margin-top: -55px;
      margin-left: 15px;
      margin-right: 25px;
      font-size: 120px;
      line-height: 100px;
      @media all and (max-width:1500px) {
        width: 380px;
        font-size: 80px;
        line-height: 70px;        
        margin-top: -24px;
      }
      .first {
        text-align: left;
      }
      .second {
        text-align: center;
      }
      .third {
        text-align: right;
      }
    }
  }
}

body.index {
  .header {
    .menu-wrapper {
      .menu-btn {
        &:hover {
          .label {
            @include hover();
            color: #d19e45;
          }
        }
        .label {
          color: white;
          @include unhover();
        }
      }
    }
  }
}

body.photos {
  .header {
    position: absolute;
    z-index: 500;
    .menu-wrapper {
      .menu-btn {
        .label {
          color: white;
        }
      }
    }
    .title-wrapper {
      .title-holder {
        .title {
          .left, .right {
            top: -35px;
          }
        }
      }
    }
  }
}

body.afisha {
  .header {
    .title {
      margin-left: 56px;
      .icon {
        img {
          height: 86px;
        }
      }
    }
    .menu-wrapper {
      .menu-btn {
        .label {
          color: white;
        }
      }
    }
  }
}

body.about {
  .header {
    .title {
      .icon {
        img {
          height: 90px;
        }
      }
    }
  }
}

body.menu, body.reviews, body.contacts {
  .header {
    .title-wrapper {
      .title-holder {
        .title {
          color: #c39c4d;
          .icon {
            img {
              height: 70px;
              margin-top: 20px;
            }
          }
          .left, .right {
            top: -26px;
          }
          &:before, &:after {
            background: #c39c4d;
          }
        }
      }
    }
  }
}

body.specials {
  .header {
    .title-wrapper {
      .title-holder {
        .title {
          margin-left: 56px;
          .icon {
            margin-top: 34px;
            img {
              width: 108px;              
            }
          }
          .left, .right {
            top: -12px;
          }
        }
      }
    }
  }
}

body.not-found {
  .header {
    .title-wrapper {
      height: 100%;
      .title-holder {
        height: 560px;
        .title {
          .icon {
            width: 70px;
            height: 90px;
            img {
              position: absolute;
              margin-left: -264px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}