// bower:scss
@import "normalize-scss/_normalize.scss";
@import "bower-bourbon/_bourbon.scss";
@import "sass-easing/_sass-easing.scss";
// endbower

* {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

html {
  //zoom: 110%;
}

$fonts_path: './fonts/';

$main-border-width: 10px;

@mixin hover(){
  //@include transition(all 100ms $easeInOutSine);
}

@mixin unhover(){
  @include transition(all 100ms $easeInOutSine);
}

@mixin fullhover(){
  @include unhover();
  &:hover {
    @include hover();
  }
}

@import 'fonts';
@import 'general';
@import 'header';
@import 'footer';
@import 'slider';
@import 'background';


.fs-baner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/fs-baner.jpg);
  z-index: 2000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .close {
    position: absolute;
    top: 50px;
    right: 50px;
    color: black;
    text-decoration: none;
  }
}