body, html {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body.index, html.index {
  background-image: url("../images/bg-index.jpg");
}

body.about, html.about {
  background-image: url("../images/bg-about.jpg");
  background-position: center left;
}

body.afisha, html.afisha {
  background-image: url("../images/bg-afisha.jpg");
}