body, html {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body.index, html.index {
  background-image: url("../images/bg-index.jpg");
}

body.about, html.about {
  background-image: url("../images/bg-about.jpg");
  background-position: center left;
}

body.afisha, html.afisha {
  background-image: url("../images/bg-afisha.jpg");
}

body.specials, html.specials {
  background-image: url("../images/bg-about.jpg");
}

body.reviews, html.reviews, body.contacts, html.contacts {
  background-image: url("../images/bg-patern-orange-dot.png");
  background-repeat: repeat;
  background-size: initial;
}