html {
  height: 100%;
}

body {
  border: $main-border-width solid white;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 920px;
  position: relative;
}

.clrfx {
  clear: both;
}

.content {
  margin: 0 auto;
  margin-bottom: 120px;
  &.w850px {
    width: 850px;
    overflow: hidden;
  }
  &.w974 {
    width: 974px;
  }
  &.w860 {
    width: 860px;
  }
  .rest-nav {
    margin: 0 -46px;
    .unit {
      width: 220px;
      margin: 0 45px;
      display: inline-block;
      vertical-align: top;
      .icon {
        text-align: center;
        img {
          display: inline-block;
          width: 14px;
          height: 24px;
        }
      }
      .title {
        font-size: 26px;
        line-height: 90%;
        font-family: "bravoscregular";
        text-transform: uppercase;
        color: #d19e45;
        background: white;
        padding: 20px;
        letter-spacing: .025em;
        .date {
          font-size: 14px;
          font-family: 'PT Serif';
          letter-spacing: -0.01em;
          line-height: 22px;
          color: black;
          text-transform: none;
          margin-top: 1px;
        }
        .black {
          color: black;
        }
      }
      .head-title-wrapper {
        text-align: center;
        overflow: hidden;
        margin-bottom: 4px;
        .title {
          display: inline-block;
          color: white;
          position: relative;
          padding: 0 20px;
          background: none;
          &:before {
            content: '';
            display: block;
            background: #d19e45;
            width: 220px;
            height: 2px;
            left: 100%;
            position: absolute;
          }
          &:after {
            content: '';
            display: block;
            background: #d19e45;
            width: 220px;
            height: 2px;
            right: 100%;
            position: absolute;
          }
          &:before, &:after {
            top: 11px;
          }
        }
      }
      .visual {
        img {
          width: 220px;
          height: 132px;
          display: block;
        }
      }
    }
  }
}

body.about {
  .content {
    margin-top: 30px;
    &>.holder {
      background: #e4e4e4;
      .unit {
        width: 486px;
        height: 428px;
        background: white;
        display: block;
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
        text-align: center;
        &.large {
          width: 100%;
        }
        &:nth-child(even) {
          margin-right: 0;
          width: 487px;
        }
        .icon {
          margin-top: 60px;
          img {
            display: inline-block;
            width: 35px;
            height: 35px;
          }
        }
        .title {
          font-size: 20px;
          color: rgb(195, 156, 77);
          font-weight: bold;
          line-height: 1.2;
          font-family: "bravorgregular";
          text-transform: uppercase;
          letter-spacing: 0.025em;
          .holder {
            display: inline-block;
            position: relative;
            &:before, &:after {
              width: 15px;
              height: 1px;
              background: rgb(195, 156, 77);
              position: absolute;
              display: block;
              content: '';
              top: 12px;
            }
            &:before {
              left: -22px;
            }
            &:after {
              right: -22px;
            }
          }
        }
        .text {
          width: 364px;
          display: inline-block;
          font-size: 16px;
          font-family: "PT Serif";
          color: rgb(152, 152, 152);
          line-height: 27px;
          margin-top: 54px;
          p {
            margin: 5px 0;
          }
          a {
            color: #c39c4d;
          }
        }
      }
    }
  }
}

body.afisha {
  .content {
    .top-btns {
      text-align: center;
      margin-bottom: 27px;
      margin-top: 40px;
      &>*{
        display: inline-block;
        vertical-align: middle;
      }
      .bar {
        width: 16px;
        height: 1px;
        background: white;
        margin-left: -5px;
      }
      a {
        font-size: 24px;
        font-family: "bravoscregular";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        padding: 0 10px;
      }
    }
    .holder {
      .unit {
        text-decoration: none;
        color: inherit;
        background: white;
        display: block;
        width: 286px;
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
        &:hover {
          background: #c39c4d;
        }
        &:nth-child(3n){
          margin-right: 0;
        }
        .visual {
          width: 286px;
          height: 196px;
          display: block;
        }
        .info {
          font-size: 21px;
          font-family: "PT Serif";
          color: rgb(26, 26, 26);
          text-align: left;
          padding-left: 32px;
          margin-top: 25px;
          .photo {
            display: inline-block;
            background: url('../images/ico-photo.png') no-repeat;
            background-size: cover;
            width: 27px;
            height: 22px;
            margin-bottom: -2px;
          }
          .age {
            float: right;
            background: #d0572c;
            color: white;
            padding: 0 9px;
          }
        }
        .title {
          font-size: 30px;
          font-family: "bravoscregular";
          color: rgb(26, 26, 26);
          line-height: 1.133;
          text-transform: uppercase;
          min-height: 66px;
          padding: 0 32px;
          margin-top: 14px;
        }
        .where {
          font-size: 18px;
          font-family: "PT Serif";
          color: rgb(26, 26, 26);
          line-height: 1;
          margin-left: 34px;
          background: url('../images/ico-point.png') no-repeat left 2px;
          padding-left: 18px;
          margin-top: 12px;
          padding-bottom: 26px;
        }
      }
    }
  }
}