html {
  height: 100%;
}

body {
  border: $main-border-width solid white;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 920px;
  position: relative;
}

.clrfx {
  clear: both;
}

.content {
  margin: 0 auto;
  margin-bottom: 120px;
  &.w850px {
    width: 850px;
    overflow: hidden;
  }
  &.w974 {
    width: 974px;
  }
  &.w860 {
    width: 860px;
  }
  &.w1076 {
    width: 1076px;
  }
  h2 {
    font-size: 23px;
    font-family: "PT Serif";
    color: rgb(45, 45, 45);
    line-height: 1.522;
    font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
  }
  .top-btns {
    text-align: center;
    margin-bottom: 27px;
    margin-top: 40px;
    &>*{
      display: inline-block;
      vertical-align: middle;
    }
    .bar {
      width: 16px;
      height: 1px;
      background: white;
      margin-left: -5px;
    }
    a {
      font-size: 24px;
      font-family: "bravoscregular";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      padding: 0 10px;
      letter-spacing: .025em;
    }
  }
  .rest-nav {
    margin: 0 -46px;
    .unit {
      width: 220px;
      margin: 0 45px;
      display: inline-block;
      vertical-align: top;
      .icon {
        text-align: center;
        img {
          display: inline-block;
          width: 14px;
          height: 24px;
        }
      }
      .title {
        font-size: 26px;
        line-height: 90%;
        font-family: "bravoscregular";
        text-transform: uppercase;
        color: #d19e45;
        background: white;
        padding: 20px;
        letter-spacing: .025em;
        .date {
          font-size: 14px;
          font-family: 'PT Serif';
          letter-spacing: -0.01em;
          line-height: 22px;
          color: black;
          text-transform: none;
          margin-top: 1px;
        }
        .black {
          color: black;
        }
      }
      .head-title-wrapper {
        text-align: center;
        overflow: hidden;
        margin-bottom: 4px;
        .title {
          display: inline-block;
          color: white;
          position: relative;
          padding: 0 20px;
          background: none;
          &:before {
            content: '';
            display: block;
            background: #d19e45;
            width: 220px;
            height: 2px;
            left: 100%;
            position: absolute;
          }
          &:after {
            content: '';
            display: block;
            background: #d19e45;
            width: 220px;
            height: 2px;
            right: 100%;
            position: absolute;
          }
          &:before, &:after {
            top: 11px;
          }
        }
      }
      .visual {
        img {
          width: 220px;
          height: 132px;
          display: block;
        }
      }
    }
  }
}

@mixin content-unit(){
  .unit {
    text-decoration: none;
    color: inherit;
    background: white;
    display: block;
    width: 286px;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    &:nth-child(3n){
      margin-right: 0;
    }
    .visual {
      width: 286px;
      height: 196px;
      display: block;
    }
    .info {
      font-size: 21px;
      font-family: "PT Serif";
      color: rgb(26, 26, 26);
      text-align: left;
      padding-left: 32px;
      margin-top: 25px;
      .photo {
        display: inline-block;
        background: url('../images/ico-photo.svg') no-repeat;
        background-size: contain;
        width: 27px;
        height: 20px;
        margin-bottom: -2px;
      }
      .age {
        float: right;
        background: #d0572c;
        color: white;
        padding: 0 9px;
      }
    }
    .title {
      font-size: 30px;
      font-family: "bravoscregular";
      color: rgb(26, 26, 26);
      line-height: 1.133;
      text-transform: uppercase;
      min-height: 66px;
      padding: 0 32px;
      margin-top: 14px;
    }
    .description {
      padding: 0 32px;
      font-family: "PT Serif";
      font-size: 16px;
      color: #1a1a1a;
      line-height: 24px;
      margin-top: 16px;
      margin-bottom: 50px;
    }
    .where {
      font-size: 18px;
      font-family: "PT Serif";
      color: rgb(26, 26, 26);
      line-height: 1;
      margin-left: 34px;
      background: url('../images/ico-point.png') no-repeat left 2px;
      padding-left: 18px;
      margin-top: 12px;
      padding-bottom: 26px;
    }
  }
  a.unit:hover {
    background: #c39c4d;
  }
}

body.about {
  .content {
    margin-top: 30px;
    &>.holder {
      background: #e4e4e4;
      .unit {
        width: 486px;
        height: 428px;
        background: white;
        display: block;
        float: left;
        margin-right: 1px;
        margin-bottom: 1px;
        text-align: center;
        &.large {
          width: 100%;
        }
        &:nth-child(even) {
          margin-right: 0;
          width: 487px;
        }
        .icon {
          margin-top: 60px;
          img {
            display: inline-block;
            height: 30px;
          }
        }
        .title {
          font-size: 20px;
          color: rgb(195, 156, 77);
          font-weight: bold;
          line-height: 1.2;
          font-family: "bravorgregular";
          text-transform: uppercase;
          letter-spacing: 0.025em;
          .holder {
            display: inline-block;
            position: relative;
            &:before, &:after {
              width: 15px;
              height: 1px;
              background: rgb(195, 156, 77);
              position: absolute;
              display: block;
              content: '';
              top: 12px;
            }
            &:before {
              left: -22px;
            }
            &:after {
              right: -22px;
            }
          }
        }
        .text {
          width: 364px;
          display: inline-block;
          font-size: 16px;
          font-family: "PT Serif";
          color: rgb(152, 152, 152);
          line-height: 27px;
          margin-top: 54px;
          p {
            margin: 5px 0;
          }
          a {
            color: #c39c4d;
          }
        }
      }
    }
  }
}

body.afisha {
  .content {
    .holder {
      @include content-unit();
    }
  }
}

body.specials {
  &>.content {
    &>.holder {
      margin-top: 72px;
      .col {
        display: block;
        width: 286px;
        float: left;
        margin-right: 1px;
        &:nth-child(3n){
          margin-right: 0;
        }
        @include content-unit();
      }
    }
  }
}

body.menu {
  .content {
    .top-btns {
      .bar {
        background: #c39c4d;
      }
      a {
        color: #c39c4d;
        &.active {
          color: black;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            background: #c39c4d;
            border-radius: 5px;
            left: 50%;
            margin-left: -2px;
            bottom: -15px;
          }
        }
      }
    }
    .holder {
      .menu-cat-list {
        float: left;
        padding: 0;
        margin: 0;
        width: 220px;
        padding-left: 5px;
        margin-top: 42px;
        li {
          display: block;
          font-size: 18px;
          line-height: 100%;
          font-family: "PT Serif";
          margin-bottom: 17px;
          a {
            color: #c39c4d;
            text-decoration: none;
          }
          &.active {
            a {
              color: black;
              position: relative;
              &:after {
                position: absolute;
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                background: #c39c4d;
                border-radius: 5px;
                right: -14px;
                top: 10px;
              }
            }
          }
        }
      }
      .menu-dishes-list {
        width: 850px;
        float: left;
        margin-top: 12px;
        hr {
          border: none;
          width: 100%;
          height: 1px;
          background: #e6e6e6;
          margin-bottom: 26px;
        }
        .unit{
          width: 276px;
          margin-right: 7px;
          display: inline-block;
          vertical-align: top;
          &:nth-child(3n+4){
            margin-right: -1px;
          }
          .visual {
            width: 276px;
            height: 184px;
          }
          .title {
            font-size: 19px;
            font-family: "PT Serif";
            color: rgb(0, 0, 0);
            line-height: 1.211;
            padding: 0 7px;
            margin-top: 12px;
          }
          .description {
            padding: 0 7px;
            font-size: 12px;
            font-family: "PT Serif";
            color: rgb(122, 122, 122);
            line-height: 16px;
            margin-top: 4px;
          }
          .info {
            padding: 0 7px;
            margin-bottom: 50px;
            margin-top: 15px;
            .price {
              font-size: 24px;
              font-family: "bravoscregular";
              color: rgb(39, 39, 39);
              font-weight: bold;
              line-height: 0.958;
              display: inline-block;
              position: relative;
              margin-right: 20px;
              &:after {
                display: block;
                content: '';
                @include transform-origin(left bottom);
                @include transform(rotate(18.5deg));  
                height: 44px;
                width: 1px;
                background: #d7d7d7;
                position: absolute;
                top: -9px;
                right: -5px;
              }
            }
            .weight {
              font-size: 18px;
              font-family: "PT Serif";
              color: black;
              line-height: 1.278;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}