// bower:scss
@import "normalize-scss/_normalize.scss";
@import "bower-bourbon/_bourbon.scss";
@import "sass-easing/_sass-easing.scss";
// endbower

* {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

$fonts_path: './fonts/';

$main-border-width: 10px;

@import 'fonts';
@import 'general';
@import 'header';
@import 'footer';
@import 'background';