// bower:scss
@import "normalize-scss/_normalize.scss";
@import "bower-bourbon/_bourbon.scss";
@import "sass-easing/_sass-easing.scss";
// endbower

* {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

html {
  //zoom: 110%;
}

$fonts_path: './fonts/';

$main-border-width: 10px;

@mixin hover(){
  //@include transition(all 100ms $easeInOutSine);
}

@mixin unhover(){
  @include transition(all 100ms $easeInOutSine);
}

@mixin fullhover(){
  @include unhover();
  &:hover {
    @include hover();
  }
}

@import 'fonts';
@import 'general';
@import 'header';
@import 'footer';
@import 'slider';
@import 'background';