#footer
  .left &copy; Т-кафе 
    span.year
  .center
    a(href="http://www.facebook.com/cafeTcafe") f
    a(href="https://vk.com/tcafe") v
    a(href="http://instagram.com/tcafekrasnodar/") i
  .right
    Сделано в 
    a(href="http://grapheme.ru/")ГРАФЕМА