#footer
  .left &copy; Т-кафе 
    span.year
  .center
    a(href="")
      img(src="images/ico-fb.png")
    a(href="")
      img(src="images/ico-vk.png")
    a(href="")
      img(src="images/ico-tw.png")
  .right
    Сделано в 
    a(href="http://grapheme.ru/")ГРАФЕМА