.header
  .holder
    a.logo(href="/")
      block logo
        img(src="images/logo-index.svg")
    .menu-wrapper
      .menu-btn
        .label Меню сайта
        .icon
          .bar.first
          .bar.second
          .bar.third
      .menu-holder
        a(href="index.html") СЕТЬ КАФЕ
        .small
          a(href="redstreet.html") Красная, 16
          a(href="") 40 лет Победы, 144/5
          a(href="") Кр. Партизан, 173
          a(href="") Тургенева, 138/6
        a.active(href="afisha.html") АФИША
        a(href="menu.html") МЕНЮ
        a(href="about.html") О СЕТИ КАФЕ
        a(href="specials.html") АКЦИИ
        a(href="photos.html") ФОТОГАЛЛЕРЕЯ
        a(href="reviews.html") ОТЗЫВЫ
        a(href="contacts.html") КОНТАКТЫ
    //.clrfx
  .title-wrapper
    block title