.header
  .holder
    a.logo(href="/")
      block logo
        img(src="images/logo-index.jpg")
    .menu-wrapper
      .menu-btn
        .label Меню сайта
        .icon
          .bar.first
          .bar.second
          .bar.third
      .menu-holder
        a(href="") СЕТЬ КАФЕ
        .small
          a(href="") Красная, 24
          a(href="") Орджоникидзе, 35
          a(href="") Набережная Реки Кубани, 3
        a(href="afisha.html") АФИША
        a(href="menu.html") МЕНЮ
        a(href="about.html") О СЕТИ КАФЕ
        a(href="specials.html") АКЦИИ
        a(href="") ФОТОГАЛЛЕРЕЯ
        a(href="") ОТЗЫВЫ
        a(href="") КОНТАКТЫ
    //.clrfx
  .title-wrapper
    block title