extends ./layouts/layout.jade

block vars
 - var bodyClass = "afisha";
 - var title = "Афиша событий – Т-Кафе"
 
block title
  .title-holder
    .title
      .left Афиша
      .icon
        img(src="images/ico-mic-white.svg")
      .right событий

block content
  .content.w860
    .top-btns
      .bar
      a(href="") Предстоящие
      .bar
      a.active(href="") Архив и фото
      .bar
    .holder
      a.unit(href="photos.html#gallery-1")
        img.visual(src="http://dummyimage.com/572x392")
        .info 13 ноября | 20:00
          .photo
          .age 12+
        .title ДЖАЗОВЫЙ КОНЦЕРТ ИГОРЯ ТОКАРЕВА
        .where Газетный, 35
      a.unit(href="photos.html#gallery-1")
        img.visual(src="http://dummyimage.com/572x392")
        .info 13 ноября | 20:00
          .photo
          .age 12+
        .title ДЖАЗОВЫЙ КОНЦЕРТ ИГОРЯ ТОКАРЕВА
        .where Газетный, 35
      a.unit(href="photos.html#gallery-1")
        img.visual(src="http://dummyimage.com/572x392")
        .info 13 ноября | 20:00
          .photo
          .age 12+
        .title ДЖАЗОВЫЙ КОНЦЕРТ ИГОРЯ ТОКАРЕВА
        .where Газетный, 35
      a.unit(href="photos.html#gallery-1")
        img.visual(src="http://dummyimage.com/572x392")
        .info 13 ноября | 20:00
          .photo
          .age 12+
        .title ДЖАЗОВЫЙ КОНЦЕРТ ИГОРЯ ТОКАРЕВА
        .where Газетный, 35
      .clrfx