extends ./layouts/layout.jade

block vars
 - var bodyClass = "about common";
 - var title = "Обычная страница – Т-Кафе"

block title
  .title-holder
    .title
      .left Обычная
      .icon
        img(src="images/ico-cup.svg")
      .right страница

block content
  .content.w974
    .holder
      h1 За основу приготовления блюд повар взял самые лучшие техники, и дополнил их интернациональными мотивами.
      ul
        li
          a(href="") Администратор в кафе на Красной
        li
          a(href="") Администратор в кафе на Красной
        li
          a(href="") Администратор в кафе на Красной
      p.
        Мы рады предложить Вам полный комплекс работ по 
        организации и проведению праздничных и деловых мероприятий в Ростове-на-Дону.
      img(src="http://dummyimage.com/660x480")
      p.
        Мы рады предложить Вам полный комплекс работ по 
        организации и проведению праздничных и деловых мероприятий в Ростове-на-Дону.