extends ./layouts/layout.jade

block vars
 - var bodyClass = "contacts";
 - var title = "Контакты – Т-Кафе"

block logo
  img(src="images/logo-transparent.svg")

block title
  .title-holder
    .title
      .left Как нас
      .icon
        img(src="images/ico-map-dots.svg")
      .right найти

block content
  .content.w874
    .top-btns
      .bar
  .contacts-map
  .content.w874
    .holder
      .col
        .unit.texted
          .icon
            img(src="images/ico-people.svg")
          .title
            .holder Сотрудничество
          .text
            p.
            Сотрудничество&nbsp;&mdash; это примета нашего века.
            Педагогика сотрудничества, разрабатываемая
            российскими педагогами, ставит на&nbsp;новый, более
            гуманный и&nbsp;доверительный. Не&nbsp;отличилась
            в&nbsp;этом году особыми достижениями в&nbsp;карьере,
            да&nbsp;и&nbsp;количество подписчиков ее&nbsp;блога
            
      .col
        .unit.form-holder
          .final
            .bar
            .text Спасибо! <br> Ваше сообщение отправлено.
          center
            .icon
              img(src="images/ico-letter.svg")
            .title
              .holder Сотрудничество
          form.contacts-form(novalidate="novalidate" action="")
            label.name
              .label Ваше имя:
              input(name="name")
            label.email
              .label E-mail:
              input(name="email")
            label.text
              .label Сообщение:
              textarea(name="message")
            center
              button(type="submit") Отправить
      .clrfx

block inline-scripts
  script.
    _TCAFE_.mapJson = '{"markers":[{"latitude":"45.0553047","longitude":"39.0180011","title":"40 \u043b\u0435\u0442 \u041f\u043e\u0431\u0435\u0434\u044b, 144\/5","slug":"40-let-pobedy-1445","address":"40 \u043b\u0435\u0442 \u041f\u043e\u0431\u0435\u0434\u044b, 144\/5","content":""},{"latitude":"45.0585131","longitude":"38.9277656","title":"\u041a\u0440. \u041f\u0430\u0440\u0442\u0438\u0437\u0430\u043d, 173","slug":"kr-partizan-173","address":"\u041a\u0440. \u041f\u0430\u0440\u0442\u0438\u0437\u0430\u043d, 173","content":""},{"latitude":"45.059967","longitude":"38.961854","title":"\u0422\u0443\u0440\u0433\u0435\u043d\u0435\u0432\u0430, 138\/6","slug":"turgeneva-1386","address":"\u0422\u0443\u0440\u0433\u0435\u043d\u0435\u0432\u0430, 138\/6","content":""},{"latitude":"45.018156","longitude":"38.968597","title":"Red Street","slug":"red-street","address":"\u041a\u0440\u0430\u0441\u043d\u0430\u044f, 16","content":""}]}';