extends ./layouts/layout.jade

block vars
 - var bodyClass = "contacts";
 - var title = "Контакты – Т-Кафе"

block logo
  img(src="images/logo-transparent.svg")

block title
  .title-holder
    .title
      .left Как нас
      .icon
        img(src="images/ico-map-dots.svg")
      .right найти

block content
  .content.w874
    .top-btns
      .bar
  .contacts-map
  .content.w874
    .holder
      .col
        .unit.texted
          .icon
            img(src="images/ico-people.svg")
          .title
            .holder Сотрудничество
          .text
            p.
            Сотрудничество&nbsp;&mdash; это примета нашего века.
            Педагогика сотрудничества, разрабатываемая
            российскими педагогами, ставит на&nbsp;новый, более
            гуманный и&nbsp;доверительный. Не&nbsp;отличилась
            в&nbsp;этом году особыми достижениями в&nbsp;карьере,
            да&nbsp;и&nbsp;количество подписчиков ее&nbsp;блога
            
      .col
        .unit.form-holder
          .final
            .bar
            .text Спасибо! <br> Ваше сообщение отправлено.
          center
            .icon
              img(src="images/ico-letter.svg")
            .title
              .holder Сотрудничество
          form.contacts-form(novalidate="novalidate" action="")
            label.name
              .label Ваше имя:
              input(name="name")
            label.email
              .label E-mail:
              input(name="email")
            label.text
              .label Сообщение:
              textarea(name="message")
            center
              button(type="submit") Отправить
      .clrfx

block inline-scripts
  script.
    _TCAFE_.mapJson = '{"markers":[{"latitude":45.017031,"longitude":38.964304,"title":"На Пушкина","slug":"pushkina27","address":"Пушкина 27","content":"<strong>Режим работы</strong><br>пн-пт: с 12<sup>00</sup> до 00<sup>00</sup><br><strong>Тел.:</strong> (834) 225-75-18"},{"latitude":45.02707292149134,"longitude":38.86372348070145,"title":"На Бульварном","slug":"bulvarniy28","address":"Бульварный 28","content":"<strong>Режим работы</strong><br>пн-пт: с 12<sup>00</sup> до 00<sup>00</sup><br><strong>Тел.:</strong> (834) 225-75-18"}]}'
