extends ./layouts/layout.jade

block vars
 - var bodyClass = "index";

block content
  .tilt-header
    .wings
      .left
        .line-1.angle-15
          .hr-holder
            hr.first
            hr.second
          a.link(href="redstreet.html")
            nobr RED STREET
            nobr НА КРАСНОЙ, 16
        .line-2.angle-15.nolink
          .hr-holder
            hr.first
            hr.second
        .line-3.angle-15
          .hr-holder
            hr.first
            hr.second
          a.link(href="")
            nobr 40 лет Победы, 144/5
        
        //.line-4.angle-15
        //-
          .hr-holder
            hr.first
            hr.second
          a.link(href="")
            nobr НА БУЛЬВАРНОМ
      .right
        .line-1.angle-15
          a.link(href="")
            nobr Красных Партизан, 173
          .hr-holder
            hr.first
            hr.second
        .line-2.angle-15.nolink
          .hr-holder
            hr.first
            hr.second
        .line-3.angle-15
          a.link(href="")
            nobr Тургенева, 138/6
          .hr-holder
            hr.first
            hr.second
    .middle-wrapper
      .middle-holder
        .first Сеть
        .second городских
        .third кафе
  .content.w850px
    .rest-nav
      .unit-wrapper.events
        .unit
          .icon
            img(src="images/ico-mic-min.svg")
          .head-title-wrapper
            .title
              Скоро
          a.link(href="")
            //Это желательный размер
            .visual(style="background-image: url('http://dummyimage.com/440x264');")
            .title
              Джазовый концерт0
              .date 13 ноября | Четверг | 20:30
        .unit
          .icon
            img(src="images/ico-mic-min.svg")
          .head-title-wrapper
            .title
              Скоро
          a.link(href="")
            //Это желательный размер
            .visual(style="background-image: url('http://dummyimage.com/440x264');")
            .title
              Джазовый концерт1
              .date 13 ноября | Четверг | 20:30
        .unit
          .icon
            img(src="images/ico-mic-min.svg")
          .head-title-wrapper
            .title
              Скоро
          a.link(href="")
            //Это желательный размер
            .visual(style="background-image: url('http://dummyimage.com/440x264');")
            .title
              Джазовый концерт2
              .date 13 ноября | Четверг | 20:30
      .unit-wrapper.new-dishes
        .unit
          .icon
            img(src="images/ico-new.svg")
          .head-title-wrapper
            .title
              Новинка меню
          a.link(href="")
            .visual(style="background-image: url('http://dummyimage.com/440x464');")
            .title
              Суп с блинами и фасолью0
            .info
              .price 359.-
              .weight 300/550/30 гр.
      .unit-wrapper.actions
        .unit
          .icon
            img(src="images/ico-act.svg")
          .head-title-wrapper
            .title
              Акция
          a.link(href="")
            .visual(style="background-image: url('http://dummyimage.com/800x264');")
            .title
              Сочные крылышки всего за 
              span.black 399 .--
            .where Все кафе
    .text-block-wrapper
      .text-block
        .title Коротко о нас
        p.
          При создании сети нашей главной целью стало логичное единение отличной еды, качественного сервиса и уюта.
        p
          a.btn(href="#") О сети кафе
  .fs-baner
    a.close(href="#") &#10005;