extends ./layouts/layout.jade

block vars
 - var bodyClass = "index";

block content
  .tilt-header
    .wings
      .left
        .line-1.angle-15
          .hr-holder
            hr.first
            hr.second
          a.link(href="redstreet.html")
            nobr RED STREET
            nobr НА КРАСНОЙ, 16
        .line-2.angle-15.nolink
          .hr-holder
            hr.first
            hr.second
        .line-3.angle-15
          .hr-holder
            hr.first
            hr.second
          a.link(href="")
            nobr 40 лет Победы, 144/5
        
        //.line-4.angle-15
        //-
          .hr-holder
            hr.first
            hr.second
          a.link(href="")
            nobr НА БУЛЬВАРНОМ
      .right
        .line-1.angle-15
          a.link(href="")
            nobr Красных Партизан, 173
          .hr-holder
            hr.first
            hr.second
        .line-2.angle-15.nolink
          .hr-holder
            hr.first
            hr.second
        .line-3.angle-15
          a.link(href="")
            nobr Тургенева, 138/6
          .hr-holder
            hr.first
            hr.second
    .middle-wrapper
      .middle-holder
        .first Сеть
        .second городских
        .third кафе
  .content.w850px
    .rest-nav
      .unit
        .icon
          img(src="images/ico-mic-min.svg")
        .head-title-wrapper
          .title
            Скоро
        a.link(href="")
          .visual
            img(src="http://dummyimage.com/440x264")
          .title
            Джазовый концерт
            .date 13 ноября | Четверг | 20:30
      .unit
        .icon
          img(src="images/ico-new.svg")
        .head-title-wrapper
          .title
            Новинка меню
        a.link(href="")
          .visual
            img(src="http://dummyimage.com/440x264")
          .title
            Суп с блинами и фасолью
      .unit
        .icon
          img(src="images/ico-act.svg")
        .head-title-wrapper
          .title
            Акция недели
        a.link(href="")
          .visual
            img(src="http://dummyimage.com/440x264")
          .title
            Сочные крылышки всего за 
            span.black 399 .--
    