extends ./layouts/layout.jade

block vars
 - var bodyClass = "reviews";
 - var title = "Отзывы – Т-Кафе"


block logo
  img(src="images/logo-transparent.svg")

block title
  .title-holder
    .title
      .left Отзывы
      .icon
        img(src="images/ico-faq.svg")
      .right клиентов

block content
  .content.w840
    .top-btns
      .bar
      a(href="") Все кафе
      .bar
      a.active(href="") На набережной
      .bar
      a(href="") На Пушкина
      .bar
      a(href="") На Бульварном
      .bar
    .holder
      .col
        .unit.form-holder
          .final
            .bar
            .text Спасибо! <br> Ваш отзыв отправлен.
          .title-wrapper
            include svg/ico-plus.jade
            .title ДОБАВИТЬ ОТЗЫВ <br>ИЛИ ЗАДАТЬ ВОПРОС
          form.review-form(novalidate="novalidate" action="")
            label.name
              .label Ваше имя:
              input(name="name")
            label.email
              .label E-mail:
              input(name="email")
            label.text
              .label Отзыв:
              textarea(name="review")
            center
              button(type="submit") Отправить
        .unit
          .q.
            Хочу написать благодарность вашему
            коллективу. В частности шеф-повару,
            администратору и официанту! Очень
            понравился стол который накрыли к нашему.
          .user-info
            Никита Епихин, 9 ноября
        .unit
          .q.
            Хочу написать благодарность вашему
            коллективу. В частности шеф-повару,
            администратору и официанту! Очень
            понравился стол который накрыли к нашему.
          .user-info
            Никита Епихин, 7 ноября
        .unit
          .q.
            Хочу написать благодарность вашему
            коллективу. В частности шеф-повару,
            администратору и официанту! Очень
            понравился стол который накрыли к нашему.
          .user-info
            Никита Епихин, 5 ноября
          .a.
            Спасибо за проявленный интерес, но пока
            наша сеть планирует развиваться только
            в пределах Краснодарского края.
      .col
        .unit
          .q.
            Хочу написать благодарность вашему
            коллективу. В частности шеф-повару,
            администратору и официанту! Очень
            понравился стол который накрыли к нашему.
          .user-info
            Никита Епихин, 10 ноября
          .a.
            Спасибо за проявленный интерес, но пока
            наша сеть планирует развиваться только
            в пределах Краснодарского края.
        .unit
          .q.
            Хочу написать благодарность вашему
            коллективу. В частности шеф-повару,
            администратору и официанту! Очень
            понравился стол который накрыли к нашему.
          .user-info
            Никита Епихин, 8 ноября
        .unit
          .q.
            Хочу написать благодарность вашему
            коллективу. В частности шеф-повару,
            администратору и официанту! Очень
            понравился стол который накрыли к нашему.
          .user-info
            Никита Епихин, 6 ноября
          .a.
            Спасибо за проявленный интерес, но пока
            наша сеть планирует развиваться только
            в пределах Краснодарского края.
      .clrfx
    