extends ./layouts/layout.jade

block vars
 - var bodyClass = "specials";
 - var title = "Специальные предложения – Т-Кафе"

block logo
  img(src="images/logo-index.svg")

block title
  .title-holder
    .title
      .left Специальные
      .icon
        img(src="images/ico-wow.svg")
      .right предложения

block content
  .content.w860
    .holder
      .col
        .unit
          .visual(style="background-image:url('http://dummyimage.com/572x392');")
          .title Крылья от которых можно улететь!
          .description.
            Попробуйте эти удивительные
            крылышки в&nbsp;сочетании
            с&nbsp;<nobr>кисло-сладким</nobr> соусом
            &laquo;Тофу&raquo; до&nbsp;31 декабря
            со&nbsp;скидкой 30%Попробуйте эти удивительные
            крылышки в&nbsp;сочетании
            с&nbsp;<nobr>кисло-сладким</nobr> соусом
            &laquo;Тофу&raquo; до&nbsp;31 декабря
            со&nbsp;скидкой 30%
          .where Во всех кафе
        a.unit(href="")
          .visual(style="background-image:url('http://dummyimage.com/572x392');")
          .title Крылья от которых!
          .description.
            Попробуйте эти 
          .where Газетный, 35
      .col
        .unit
          .visual(style="background-image:url('http://dummyimage.com/572x392');")
          .title Крылья от которых!
          .description.
            Попробуйте эти 
          .where Газетный, 35
        .unit
          .visual(style="background-image:url('http://dummyimage.com/572x392');")
          .title Крылья от которых можно улететь!
          .description.
            Попробуйте эти удивительные
            крылышки в&nbsp;сочетании
            с&nbsp;<nobr>кисло-сладким</nobr> соусом
            &laquo;Тофу&raquo; до&nbsp;31 декабря
            со&nbsp;скидкой 30%
          .where Газетный, 35
      .col
        .unit
          .visual(style="background-image:url('http://dummyimage.com/572x392');")
          .title Крылья от которых можно улететь!
          .description.
            Попробуйте эти удивительные
            крылышки в&nbsp;сочетании
            с&nbsp;<nobr>кисло-сладким</nobr> соусом
            &laquo;Тофу&raquo; до&nbsp;31 декабря
            со&nbsp;скидкой 30%
          .where Газетный, 35
        .unit
          .visual(style="background-image:url('http://dummyimage.com/572x392');")
          .title Крылья от которых!
          .description.
            Попробуйте эти 
          .where Газетный, 35
      .clrfx