extends ./layouts/layout.jade

block vars
 - var bodyClass = "about";

block title
  .title-holder
    .title
      .left О сети
      .icon
        img(src="images/ico-cup.png")
      .right кафе

block content
  .content.w974
    .holder
      .unit
        .icon
          img(src="images/ico-cutlery-35px.png")
        .title
          .holder Наша сеть
        .text
          p.
            За&nbsp;основу приготовления блюд повар взял 
            самые лучшие техники, поварские секреты 
            европейской кухни и&nbsp;дополнил их&nbsp;
            интернациональными мотивами.
      .unit
        .icon
          img(src="images/ico-wine-35px.png")
        .title
          .holder Проведение банкетов
        .text
          p.
            Вашим малышам не&nbsp;будет скучно: стульчики,
            раскраски, карандаши, любимые мультфильмы
            и&nbsp;специальное детское меню&nbsp;&mdash; все для услады
            маленьких гурманов.
      .unit
        .icon
          img(src="images/ico-baloons-35px.png")
        .title
          .holder Проведение банкетов
        .text
          p.
            Мы&nbsp;рады предложить Вам полный комплекс 
            работ по&nbsp;организации и&nbsp;проведению 
            праздничных и&nbsp;деловых мероприятий 
            в&nbsp;<nobr>Ростове-на-Дону</nobr>.
      .unit
        .icon
          img(src="images/ico-chief_hat-35px.png")
        .title
          .holder Вакансии
        .text
          p
            a(href="") Администратор в кафе на Красной
          p
            a(href="") Официант на Набережную реки Кубани
          p
            a(href="") Уборщица на Пушкина, 18
      .unit.large
        .icon
          img(src="images/ico-chief_hat-35px.png")
        .title
          .holder Вакансии
        .text
          p
            a(href="") Администратор в кафе на Красной
          p
            a(href="") Официант на Набережную реки Кубани
          p
            a(href="") Уборщица на Пушкина, 18
      .clrfx