extends ./layouts/layout.jade

block vars
 - var bodyClass = "afisha";

block title
  .title-holder
    .title
      .left Афиша
      .icon
        img(src="images/ico-mic-white.svg")
      .right событий

block content
  .content.w860
    .top-btns
      .bar
      a(href="") Предстоящие
      .bar
      a(href="") Архив и фото
      .bar
    .holder
      a.unit(href="")
        img.visual(src="http://dummyimage.com/572x392")
        .info 13 ноября | 20:00
          .photo
          .age 12+
        .title ДЖАЗОВЫЙ КОНЦЕРТ ИГОРЯ ТОКАРЕВА
        .where Газетный, 35
      a.unit(href="")
        img.visual(src="http://dummyimage.com/572x392")
        .info 13 ноября | 20:00
          .photo
          .age 12+
        .title ДЖАЗОВЫЙ КОНЦЕРТ ИГОРЯ ТОКАРЕВА
        .where Газетный, 35
      a.unit(href="")
        img.visual(src="http://dummyimage.com/572x392")
        .info 13 ноября | 20:00
          .photo
          .age 12+
        .title ДЖАЗОВЫЙ КОНЦЕРТ ИГОРЯ ТОКАРЕВА
        .where Газетный, 35
      a.unit(href="")
        img.visual(src="http://dummyimage.com/572x392")
        .info 13 ноября | 20:00
          .photo
          .age 12+
        .title ДЖАЗОВЫЙ КОНЦЕРТ ИГОРЯ ТОКАРЕВА
        .where Газетный, 35
      .clrfx