extends ./layouts/layout.jade

block vars
 - var bodyClass = "index";

block content
  .tilt-header
    .wings
      .left
        .line-1.angle-15
          .hr-holder
            hr.first
            hr.second
          a.link(href="")
            nobr RED STREET
            nobr НА КРАСНОЙ, 18
        .line-2.angle-15.nolink
          .hr-holder
            hr.first
            hr.second
        .line-3.angle-15
          .hr-holder
            hr.first
            hr.second
          a.link(href="")
            nobr НА НАБЕРЕЖНОЙ, 3
        .line-4.angle-15
          .hr-holder
            hr.first
            hr.second
          a.link(href="")
            nobr НА БУЛЬВАРНОМ
      .right
        .line-1.angle-15
          a.link(href="")
            nobr НА КРАСНОЙ, 124
          .hr-holder
            hr.first
            hr.second
        .line-2.angle-15.nolink
          .hr-holder
            hr.first
            hr.second
        .line-3.angle-15
          a.link(href="")
            nobr ПУШКИНА, 18
          .hr-holder
            hr.first
            hr.second
    .middle-wrapper
      .middle-holder
        .first Сеть
        .second городских
        .third кафе