extends ./layouts/layout.jade

block vars
 - var bodyClass = "menu";
 - var title = "Пицца – Меню – Т-Кафе"

block logo
  img(src="images/logo-tranparent-black.png")

block title
  .title-holder
    .title
      .left Афиша
      .icon
        img(src="images/ico-plate.svg")
      .right событий

block content
  .content.w1076
    .top-btns
      .bar
      a(href="") На Газетном
      .bar
      a.active(href="") На набережной
      .bar
      a(href="") На Пушкина
      .bar
      a(href="") На Бульварном
      .bar
    .holder
      ul.menu-cat-list
        li
          a(href="")Супы
        li
          a(href="")Мясо
        li
          a(href="")Напитки
        li
          a(href="")Роллы
        li.active
          a(href="")Пицца
        li
          a(href="")Сигареты
        li
          a(href="")Прочее
      .menu-dishes-list
        h2 Вегетарианская
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 550 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик
          .info
            .price 359.-
            .weight 300/550/30 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 300/550/30 гр.
        hr
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 550 гр.
        .clrfx
        h2 Вегетарианская
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 550 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик
          .info
            .price 359.-
            .weight 300/550/30 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 300/550/30 гр.
        hr
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 550 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 550 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик
          .info
            .price 359.-
            .weight 300/550/30 гр.
        hr
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 300/550/30 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 550 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специиСыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 550 гр.
        hr
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик
          .info
            .price 359.-
            .weight 300/550/30 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 300/550/30 гр.
        .unit(href="")
          .title Маргарита с грибами
          .description Сыр, томатная паста, базилик, лимон, специи, cыр, томатная паста, базилик, лимон, специи
          .info
            .price 359.-
            .weight 550 гр.
        .clrfx
      .clrfx