extends ./layouts/layout.jade

block vars
 - var bodyClass = "photos";


block title
  .title-holder
    .title
      .left Фото
      .icon
        img(src="images/ico-photos.svg")
      .right кадры

block content
  .popup-slider-wrapper
    .close
    .bar
    .center
      .close
        include svg/ico-close.jade
      .prev
        include svg/ico-arrow.jade
      .next
        include svg/ico-arrow.jade
      .holder
        .visual
        .title Мастер класс по выпечке русских блинов
      .thumbs-wrapper
        .frame
        .thumbs
          .holder
            //img(src="http://dummyimage.com/244x156")
            .clrfx
    
  
  .content
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .unit(style="background-image: url('http://dummyimage.com/1000x1000');", data-json="json/photo-1.json")
      .hover
        .bar
        .title Мастер класс по выпечке русских блинов
    .clrfx

block footer