#footer
  .left &copy; Т-кафе 
    span.year
  .center
    a(href="http://www.facebook.com/cafeTcafe", target="_blank") f
    a(href="https://vk.com/tcafe", target="_blank") v
    a(href="http://instagram.com/tcafekrasnodar/", target="_blank") i
  .right
    Сделано в 
    a(href="http://grapheme.ru/", target="_blank")ГРАФЕМА