.header
  .holder
    a.logo(href="/")
      block logo
        img(src="images/logo-index.svg")
    .menu-wrapper
      .menu-btn
        .label Меню сайта
        .icon
          .bar.first
          .bar.second
          .bar.third
      .menu-holder
        ul
          li
            a(href="index.html") СЕТЬ КАФЕ
            ul
              li.active
                a(href="redstreet.html") Красная, 16
              li
                a(href="") 40 лет Победы, 144/5
              li
                a(href="") Кр. Партизан, 173
              li
                a(href="") Тургенева, 138/6
          li.active
            a(href="afisha.html") АФИША
          li
            a(href="menu.html") МЕНЮ
          li
            a(href="about.html") О СЕТИ КАФЕ
          li
            a(href="specials.html") АКЦИИ
          li
            a(href="photos.html") ФОТОГАЛЛЕРЕЯ
          li
            a(href="reviews.html") ОТЗЫВЫ
          li
            a(href="contacts.html") КОНТАКТЫ
    //.clrfx
  .title-wrapper
    block title