.header
  .holder
    a.logo(href="/")
      block logo
        img(src="images/logo-index.svg")
    .menu-wrapper
      .menu-btn
        .label Меню сайта
        .icon
          .bar.first
          .bar.second
          .bar.third
      .menu-holder
        ul
          li
            a(href="index.html") СЕТЬ КАФЕ
            ul
              li
                a.active(href="redstreet.html") Красная, 16
              li
                a(href="") 40 лет Победы, 144/5
              li
                a(href="") Кр. Партизан, 173
              li
                a(href="") Тургенева, 138/6
          li
            a.active(href="afisha.html") АФИША
          li
            a(href="menu.html") МЕНЮ
          li
            a(href="about.html") О СЕТИ КАФЕ
          li
            a(href="specials.html") АКЦИИ
          li
            a(href="photos.html") ФОТОГАЛЛЕРЕЯ
          li
            a(href="reviews.html") ОТЗЫВЫ
          li
            a(href="contacts.html") КОНТАКТЫ
    //.clrfx
  .title-wrapper
    block title
    
  .back-url-wrapper
    a.back-url(href="#")
      svg(xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" width="27px" height="24px" viewBox="0 0 27 24").
        <defs>
        <g id="Layer0_0_FILL">
        <path stroke="none" d="
        M 3.05 7.35
        L 11.05 12.25 11.05 7.5 11.05 2.4 3.05 7.35 Z"/>
        </g>
        
        <path id="Layer0_0_1_STROKES" stroke-width="3" stroke-linejoin="round" stroke-linecap="round" fill="none" d="
        M 11.05 7.5
        Q 15.7 7.85 19.1 11.25 22.85 15 22.9 20.35"/>
        </defs>
        
        <g transform="matrix( 1, 0, 0, 1, 0,0) ">
        <use xlink:href="#Layer0_0_FILL"/>
        
        <use xlink:href="#Layer0_0_1_STROKES"/>
        </g>
      .type
        Вернуться<br>
        на страницу кафе